﻿@model IEnumerable<UsersModel>
@{
    Layout = null;
}
<form asp-controller="Users" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <hr />
    <button type="submit">Import</button>
</form>

@if (Model.Count() > 0)
{
    <hr />
    <table cellpadding="0" cellspacing="0" border="1">
        <tr>
            <th>FullName</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>ExternalEmail</th>
            <th>Account</th>
            <th>Password</th>
            <th>Gender</th>
            <th>DateOfBirth</th>
            <th>University</th>
            <th>Faculty</th>
            <th>Skill</th>
        </tr>
        @foreach (UsersModel users in Model)
        {
    <tr>
        <td>@users.FullName</td>
        <td>@users.PhoneNumber</td>
        <td>@users.Email</td>
        <td>@users.FirstName</td>
        <td>@users.LastName</td>
        <td>@users.ExternalEmail</td>
        <td>@users.Account</td>
        <td>@users.Password</td>
        <td>@users.Gender</td>
        <td>@users.DateOfBirth</td>
        <td>@users.University</td>
        <td>@users.Faculty</td>
        <td>@users.Skill</td>
    </tr>
        }
    </table>
}
